<!--<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span>Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{customer.name}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{customer.firstName}}</span>
                </dd>
                <dt><span>Birth Date</span></dt>
                <dd>
                    <span>{{customer.birthDate}}</span>
                </dd>
                <dt><span>Sex</span></dt>
                <dd>
                    <span>{{customer.sex}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{customer.phone}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span>Objective</span></dt>
                <dd>
                    <span>{{customer.objective}}</span>
                </dd>
                <dt><span>Observations</span></dt>
                <dd>
                    <span>{{customer.observations}}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{customer.creationDate}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{customer.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
-->

<div class="container">
    <jhi-alert-error></jhi-alert-error>

    <div *ngIf="customer">
        <div class="row">

            <div class="col-12 col-md-8 text-center">

                <table class="table table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <td>Información Personal</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span
                                    class="span-customer-info">Nombre</span>{{customerService.customer.name | titlecase }}
                                {{customerService.customer.firstName | titlecase }}</td>
                        </tr>
                        <tr>
                            <td><span class="span-customer-info">Teléfono</span>{{customerService.customer.phone}}</td>
                        </tr>
                        <tr>
                            <td><span class="span-customer-info">Email</span>{{customerService.customer.email}}</td>
                        </tr>
                        <tr>
                            <td><span class="span-customer-info">Objetivo</span>{{customerService.customer.objective}}
                            </td>
                        </tr>
                        <tr>
                            <td><span
                                    class="span-customer-info">Observaciones</span>{{customerService.customer.observations}}
                            </td>
                        </tr>
                        <tr>
                            <td><span
                                    class="span-customer-info">Tipo</span>{{customerService.customer.isActive ? 'Cliente Activo' : 'Cliente Inactivo'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                Acciones
                <hr>
                <div class="row no-gutters">
                    <button type="submit"
                        [routerLink]="['/', 'customer', { outlets: { popup: customerService.customer.id + '/editInfo'} }]"
                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-block">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar Información</span>
                    </button>
                    <button type="submit"
                        [routerLink]="['/', 'customer', { outlets: { popup: customerService.customer.id + '/customerMeasure'} }]"
                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-warning btn-block">
                        <fa-icon [icon]="'list'"></fa-icon>&nbsp;<span> Registrar Medidas</span>
                    </button>
                    <button type="button" (click)="open(training)" class="btn btn-info btn-block">
                        <fa-icon [icon]="'book'"></fa-icon>&nbsp;<span>Registrar Entrenamiento</span>
                    </button>
                    <button type="button" (click)="open(diet)" class="btn btn-success btn-block">
                        <fa-icon [icon]="'heart'"></fa-icon>&nbsp;<span>Registrar Dieta</span>
                    </button>
                    <button type="button" (click)="open(status)" class="btn btn-secondary btn-block">
                        &nbsp;<span>{{customerService.customer.isActive ? 'Dar de Baja': 'Reactivar Cliente'}}</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- MANAGE STATUS -->
<ng-template #status let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Dar de baja</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ¿Estás seguro que deseas dar de baja al cliente?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-outline-dark" (click)="save('status')">Confirmar</button>
    </div>
</ng-template>
