@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.active-cyan-4 input[type='text']:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

.span-customer-info {
  float: left;
  font-size: 10px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
}

li a:hover {
  background-color: #007bff;
}
