<!--<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span>Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{customer.name}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{customer.firstName}}</span>
                </dd>
                <dt><span>Birth Date</span></dt>
                <dd>
                    <span>{{customer.birthDate}}</span>
                </dd>
                <dt><span>Sex</span></dt>
                <dd>
                    <span>{{customer.sex}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{customer.phone}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span>Objective</span></dt>
                <dd>
                    <span>{{customer.objective}}</span>
                </dd>
                <dt><span>Observations</span></dt>
                <dd>
                    <span>{{customer.observations}}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{customer.creationDate}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{customer.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
-->

<div class="container">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div *ngIf="customer">
        <div class="row">

            <div class="col-12 col-md-8 text-center">

                <table class="table table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <td>
                                <font color="white">Información Personal</font>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span
                                    class="span-customer-info">Nombre</span>{{customerService.customer.name | titlecase }}
                                {{customerService.customer.firstName | titlecase }}</td>
                        </tr>
                        <tr>
                            <td><span class="span-customer-info">Teléfono</span>{{customerService.customer.phone}}</td>
                        </tr>
                        <tr>
                            <td><span class="span-customer-info">Email</span>{{customerService.customer.email}}</td>
                        </tr>
                        <tr>
                            <td><span class="span-customer-info">Objetivo</span>{{customerService.customer.objective}}
                            </td>
                        </tr>
                        <tr>
                            <td><span
                                    class="span-customer-info">Observaciones</span>{{customerService.customer.observations}}
                            </td>
                        </tr>
                        <tr>
                            <td><span
                                    class="span-customer-info">Tipo</span>{{customerService.customer.isActive ? 'Cliente Activo' : 'Cliente Inactivo'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                Acciones
                <hr>
                <div class="row no-gutters">
                    <button type="submit"
                        [routerLink]="['/', 'customer', { outlets: { popup: customerService.customer.id + '/editInfo'} }]"
                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-block">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar Información</span>
                    </button>
                    <button type="submit"
                        [routerLink]="['/', 'customer', { outlets: { popup: customerService.customer.id + '/customerMeasure/'+ null} }]"
                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-warning btn-block">
                        <fa-icon [icon]="'list'"></fa-icon>&nbsp;<span> Registrar Medidas</span>
                    </button>
                    <button type="submit"
                        [routerLink]="['/', 'customer', { outlets: { popup: customerService.customer.id + '/customerTraining'} }]"
                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-light btn-block">
                        <fa-icon [icon]="'book'"></fa-icon>&nbsp;<span>Registrar Entrenamiento</span>
                    </button>
                    <button type="submit"
                        [routerLink]="['/', 'customer', { outlets: { popup: customerService.customer.id + '/customerDiet/'+ null} }]"
                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-success btn-block">
                        <fa-icon [icon]="'heart'"></fa-icon>&nbsp;<span>Registrar Dieta</span>
                    </button>
                    <button type="button" (click)="open(status)" class="btn btn-secondary btn-block">
                        &nbsp;<span>{{customerService.customer.isActive ? 'Dar de Baja': 'Reactivar Cliente'}}</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- MANAGE STATUS -->
<ng-template #status let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Dar de baja</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ¿Estás seguro que deseas dar de baja al cliente?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-outline-dark" (click)="save('status')">Confirmar</button>
    </div>
</ng-template>


<br>
<div class="list-group">
    <ul #customerValues>
        <li><a class="list-group-item active" #measureLi (click)="showInfo('measure', measureLi)">Medidas</a></li>
        <li><a class="list-group-item" #trainingLi (click)="showInfo('training', trainingLi)">Entrenamientos</a></li>
        <li><a class="list-group-item" #dietLi (click)="showInfo('diet', dietLi)">Dietas<a></li>
        <!--<li><a class="list-group-item" #dateLi (click)="showInfo('date', dateLi)">Citas</a></li>-->
    </ul>
</div>

<!-- MEASURE TABLE-->
<div class="table-responsive" *ngIf="showMeasure == true">
    <table class="table table-striped">
        <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="creationDate"><span>Fecha</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="leg"><span>Pierna</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="ribCage"><span>Caja Toracica</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="arm"><span>Brazo</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
            [infiniteScrollDistance]="0">
            <tr *ngFor="let measure of customerService.customer.customerMeasures ;trackBy: trackId">
                <td>{{measure.creationDate | date: 'mediumDate'}}</td>
                <td>{{measure.leg}}</td>
                <td>{{measure.ribCage}}</td>
                <td>{{measure.arm}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                            [routerLink]="['/', 'customer', { outlets: { popup: customerService.customer.id + '/customerMeasure/' + measure.id} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                            [routerLink]="['/', 'customer', { outlets: { popup: customer.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Borrar</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- TRAINING DATA -->
<div class="table-responsive" *ngIf="showTraining == true">
    <table class="table table-striped">
        <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="creationDate"><span>Fecha</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="name"><span>Nombre</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
            [infiniteScrollDistance]="0">
            <tr *ngFor="let training of customerService.customer.customerTrainings ;trackBy: trackId">
                <td>{{diet.creationDate | date: 'mediumDate'}}</td>
                <td>{{diet.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                            [routerLink]="['/', 'customer', { outlets: { popup: customerService.customer.id + '/customerTraining/' +training.id} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                            [routerLink]="['/', 'customer', { outlets: { popup: customer.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Borrar</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- DIET DATA -->
<div class="table-responsive" *ngIf="showDiet == true">
    <table class="table table-striped">
        <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="creationDate"><span>Fecha</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="name"><span>Nombre</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
            [infiniteScrollDistance]="0">
            <tr *ngFor="let diet of customerService.customer.customerDiets ;trackBy: trackId">
                <td>{{diet.creationDate | date: 'mediumDate'}}</td>
                <td>{{diet.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                            [routerLink]="['/', 'customer', { outlets: { popup: customerService.customer.id + '/customerDiet/' +diet.id} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                            [routerLink]="['/', 'customer', { outlets: { popup: customer.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Borrar</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
