<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trainingDay">
            <h2><span>Training Day</span> {{trainingDay.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{trainingDay.creationDate}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{trainingDay.name}}</span>
                </dd>
                <dt><span>Training</span></dt>
                <dd>
                    <div *ngIf="trainingDay.training">
                        <a [routerLink]="['/training', trainingDay.training?.id, 'view']">{{trainingDay.training?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/training-day', trainingDay.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
