<div>
    <h2 id="page-heading">
        <span>Customer Dates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-date" [routerLink]="['/customer-date/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Customer Date
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="customerDates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Creation Date</span></th>
            <th><span>Observations</span></th>
            <th><span>Is Active</span></th>
            <th><span>Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerDate of customerDates ;trackBy: trackId">
                <td><a [routerLink]="['/customer-date', customerDate.id, 'view' ]">{{customerDate.id}}</a></td>
                <td>{{customerDate.creationDate | date:'medium'}}</td>
                <td>{{customerDate.observations}}</td>
                <td>{{customerDate.isActive}}</td>
                <td>
                    <div *ngIf="customerDate.customer">
                        <a [routerLink]="['../customer', customerDate.customer?.id, 'view' ]" >{{customerDate.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/customer-date', customerDate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer-date', customerDate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'customer-date', { outlets: { popup: customerDate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
