<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerDate">
            <h2><span>Customer Date</span> {{customerDate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{customerDate.creationDate}}</span>
                </dd>
                <dt><span>Observations</span></dt>
                <dd>
                    <span>{{customerDate.observations}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{customerDate.isActive}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="customerDate.customer">
                        <a [routerLink]="['/customer', customerDate.customer?.id, 'view']">{{customerDate.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-date', customerDate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
