<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="diet">
            <h2><span>Diet</span> {{diet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{diet.creationDate}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{diet.name}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="diet.customer">
                        <a [routerLink]="['/customer', diet.customer?.id, 'view']">{{diet.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/diet', diet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
