<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dietFood">
            <h2><span>Diet Food</span> {{dietFood.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{dietFood.creationDate}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{dietFood.description}}</span>
                </dd>
                <dt><span>Diet</span></dt>
                <dd>
                    <div *ngIf="dietFood.diet">
                        <a [routerLink]="['/diet', dietFood.diet?.id, 'view']">{{dietFood.diet?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/diet-food', dietFood.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
